@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <a href="http://github.com/fredimachado/DiabloD2R" target="_blank" class="ml-md-auto">Source Code</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
